.hero {
    padding: 5vh 2rem 2rem 2rem;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .layer {
        height: 210%;
        position: absolute;
        margin-top: -20%;

        @media (max-width: 900px) {
            height: 150%;
        }

        @media (max-width: 400px) {
            height: 150%;
        }
    }

    h1 {
        font-size: clamp(2rem, 5vw, 3rem);
        color: #b9b9b9;
        margin: 0;
        text-align: center;
        z-index: 1;
    }

    .spc {
        font-family: "Inknut Antiqua", serif;
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        color: #005236;
        line-height: 3rem;
        font-weight: 600;
    }
}

.kepengurusan {
    width: 100%;
    height: fit-content;
    padding: 3vw;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vw;

    .desc {
        width: clamp(20rem, 70vw, 50rem);
        background-color: #fff;
        padding: clamp(1rem, 5vw, 2rem);
        border-radius: 5px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

        h3 {
            font-size: clamp(1.2rem, 3vw, 2rem);
            color: #222;
            font-weight: 700;
            padding: 0 0 1rem 0;
            margin: 0;
            border-bottom: 2px solid #bc4f07;
        }

        p {
            font-size: clamp(0.9rem, 2vw, 1.2rem);
            color: #888;
            margin: 1rem 0 0 0;
        }
    }

    img {
        width: 100%;
    }
}

.transition {
    width: 100vw;
    aspect-ratio: 4 / 1;
}
