nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 3rem;
    width: 100vw;
    aspect-ratio: 1920 / 142;
    background: #ffffffcb;
    backdrop-filter: blur(50px);
    position: fixed;
    z-index: 2;

    img {
        width: auto;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        a {
            text-decoration: none;
            color: #bc4f07;
            font-weight: 500;
            font-size: 1.2rem;
            transition: color 0.3s ease;

            &:hover {
                color: #222; /* Change to your desired hover color */
            }
        }
    }
}
